@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --bg: #022b3a;
    --primary: #1f7a8c;
    --secondary: #bfdbf7;
    interpolate-size: allow-keywords;
}

@theme {
    --color-bg: var(--bg);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --font-rubik: 'Rubik Glitch', system-ui;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: var(--bg);
    color: white;
    font-family: Poppins, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
